:root{
    --background_color: #FDFEFE;
    --contrast_background_color: #212F3D;
    --text_color: #212F3D;
    --contrast_text_color:#FDFEFE;
    --link:#943126;
    --link_hover:#CD6155  ;
    --nav_bar_background_color: #F4D03F;
    --nav_bar_color: #E74C3C;
}
@media (prefers-color-scheme: dark) {
    :root{
        --background_color: #212F3D;
        --contrast_background_color:#ABB2B9;
        --contrast_text_color:#212F3C;
        --text_color: #FDFEFE;
        --link:#CD6155  ;
        --link_hover:#943126;
    }
}

html{
    font-family: Arial, Helvetica, sans-serif;
}
.code{
    background-color: #808B96;
    color: white;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
}
header#banner{
    background-color: var(--contrast_background_color);
    margin: 10px;
    grid-row: auto;
    text-align: center;
    border-radius: 15px;
}
/*Index page*/
.body-index{
        color: var(--text_color);
        background-color: var(--background_color);
        margin: 0;
}
.body-index nav{
    background-color: var(--nav_bar_background_color);
    color: var(--nav_bar_color);
    padding: 20px;
}
.body-index main{
    display: grid;
    max-width: 75%;
    margin: auto;
}
.body-index article{
    padding: 10px;
    grid-row: auto;
}
.body-index a{
    color: var(--link)
}
.body-index a:hover{
    color: var(--link_hover)
}

.body-404 a{
    color: var(--link)
}
.body-404 a:hover{
    color: var(--link_hover)
}

.dropbtn {
    color: var(--nav_bar_color);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    float: right;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
}
  